td.occupied {
    color: #b94a48;
    background-color: #f2dede;
}
td.free {
    cursor: pointer;
}
td.success {
    color: #468847;
    background-color: #dff0d8;
}
span.help-inline{
    display: none;
}